################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/AsyncAwait/.vs/AsyncAwait/v16/Server/sqlite3/db.lock
/AsyncAwait/.vs/AsyncAwait/v16/Server/sqlite3/storage.ide
/AsyncAwait/.vs/AsyncAwait/v16/Server/sqlite3/storage.ide-shm
/AsyncAwait/.vs/AsyncAwait/v16/Server/sqlite3/storage.ide-wal
AsyncAwait/.vs/AsyncAwait/v16/.suo
